[user]
	name = ZonePG
	email = zonepg666@gmail.com
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
