# alias
alias vim="nvim"
alias vi="nvim"
alias ll="ls --color=auto -la"
alias ls="ls --color=auto"
alias gs="git status"
alias ga="git add"
alias gc="git commit"
alias gl="git log --all --graph --decorate"
alias mv="mv -i"
alias aq=asciiquarium
